﻿@{
    ViewBag.Title = "Admin Panel";
}

<h2>Admin Panel</h2>


@using (Html.BeginForm("UploadDrink", "Admin", FormMethod.Get))
{
    <input type="submit" value="Upload Drink" class="btn btn-default" />
}
<br />
@using (Html.BeginForm("ManageUsers", "Admin", FormMethod.Get))
{
    <input type="submit" value="Manage Users" class="btn btn-default" />
}
<br />
@using (Html.BeginForm("DeleteDrink", "Admin", FormMethod.Get))
{
    <input type="submit" value="Delete Drink" class="btn btn-default" />
}