﻿@{
    ViewBag.Title = "Delete Drink";
}

    <h2>Delete Drink</h2>

<center>
    @using (Html.BeginForm("DeleteDrink", "Admin", FormMethod.Post))
    {
        <hr />
        <div class="form-group">
            <div class="text-success">
                @ViewBag.Message
            </div>
        </div>
        <div class="form-horizontal">
            <label>Choose a Drink to delete!</label>
            <br />
            @using PubOrder.Models;
            @{
                List<SelectListItem> drinksList = new List<SelectListItem>();
                using (DBEntities de = new DBEntities())
                {
                    foreach (Drink drink in de.Drinks)
                    {
                        if (!drink.DrinkName.Contains("Custom Drink #"))
                        {
                            drinksList.Add(new SelectListItem
                            {
                                Text = drink.DrinkName + " - " + drink.DrinkName,
                                Value = drink.DrinkName + " - " + drink.DrinkName
                            });
                        }
                    }
                    @Html.DropDownList("DrinksList", drinksList, "-- Select Drink --", new { @class = "form-control" })
                }
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Delete Drink" class="btn btn-default" />
            </div>
        </div>
    }
</center>