﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PubOrder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Show Orders", "ShowDrinks", "Home")</li>
                    <li>@Html.ActionLink("My Profile", "ViewMyProfile", "User")</li>
                    <li>@Html.ActionLink("Edit Profile", "EditProfile", "User")</li>
                    @using PubOrder.Models;
                    @using (DBEntities de = new DBEntities())
                    {
                        var user = de.Users.Where(a => a.EmailID == HttpContext.Current.User.Identity.Name).FirstOrDefault();
                        if (user != null)
                        {
                            var userRoles = user.UsersRoles;
                            foreach (var userRole in userRoles)
                            {
                                if (userRole.Role.RoleName.Equals("Admin"))
                                {
                                    if (userRole.UserID == user.UserID)
                                    {
                                        <li>@Html.ActionLink("Admin Panel", "AdminPanel", "Admin")</li>
                                    }
                                }
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019-@DateTime.Now.Year - PubOrder</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>