﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>
    <strong>
        
        Our Pub is located in the Hong Kong.<br />
        The Pub is completely with brilliant food, drink.  Hope you enjoy your day.
    </strong>
</h3>
