﻿@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<hr />
<div class="container text-success" style="text-align: center;">
    @ViewBag.Message
</div>
<br />
<div class="container text-success" style="text-align: center;">
    @ViewBag.Message2
</div>
<br />

<table class="table">
    <tr>


        <th style="font-size:16px;">
            <center>Order UserID</center>
        </th>



        <th style="font-size:16px;">
            <center>Drink Image</center>
        </th>

        <th style="font-size:16px;">
            <center>Order ID</center>
        </th>

        <th style="font-size:16px;">
            <center>Drink Name</center>
        </th>

        <th style="font-size:16px;">
            <center>Drink Quantity</center>
        </th>

        <th style="font-size:16px;">
            <center>Price</center>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="font-size:14px;">
                <br />
                <center><b>@item.UserID</b></center>
            </td>
            
            
            
            
            
            <td>
                <center> <img style="width:80px; height:80px;" src="@Url.Content(ViewData["drinkPicturePath" + item.OrderID])" typeof="image/*" /></center>
            </td>
            <td style="font-size:14px;">
                <br />
                <center><b>@item.OrderID</b></center>
            </td>
            <td style="font-size:14px;">
                <br />
                <center><b>@ViewData["drinkName" + item.OrderID]</b></center>
            </td>

            <td style="font-size:14px;">
                <br />
                <center><b> @item.DrinkAmount</b></center>
            </td>
            <td style="font-size:14px;">
                <br />
                <center><b> @String.Format("{0:0.00}", ViewData["orderPrice" + item.OrderID]) HKD</b></center>
            </td>
            <td style="font-size:14px;">
                <center>
                    <b>
                        @Html.ActionLink("Add", "AddOrder", "Home", new { id = item.OrderID }, null)
                        <br />
                        @Html.ActionLink("Remove", "RemoveOrder", "Home", new { id = item.OrderID }, null)
                    </b>
                </center>
            </td>
        </tr>
    }
</table>
<hr />

<center><b>Total Price: @String.Format("{0:0.00}", ViewData["totalOrderPrice"]) HKD</b></center>
<center><b>@Html.ActionLink("Checkout", "CheckoutCompleted", "Home")</b></center>