﻿@{
    ViewBag.Title = "Overview";
}

<br />
<div>
    <center>
        <b style="font-size: 36px;">Welcome</b>
    </center>
</div>
<br />
<div>
    <center>
        <img style="width:250px; height:250px;" src="@Url.Content("~/Design/Logo.jpg")" typeof="image/*" />
    </center>
</div>
</div>