﻿@{
    ViewBag.Title = "All Orders";
}

<h2>All Orders</h2>


<div class="container">
    @foreach (var drink in Model)
    {
            <div class="col-sm-4 col-md-4 col-xs-12">
                <div class="video-frame" style="text-align:center; color:#000000">
                    <b style="color:#000000; font-size:20px;">@drink.DrinkName</b>
                    <b>
                        <br />
                        <img style="width:250px; height:250px;" src="@Url.Content(drink.DrinkPicturePath)" typeof="image/*" />
                        <br />
                        Price: @String.Format("{0:0.00}", drink.DrinkPrice) HKD
                        <br />
                        <div>
                            @Html.ActionLink("Add To Cart", "CreateOrderWithDrink", "Home", new { id = drink.DrinkID }, null)

                        </div>
                    </b>
                </div>
                <br />
                <br />
            </div>
        
    }
</div>